*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-top: 5rem;
}
.container{
    display: flex;
    gap: 5rem;}
    

.option{
    height: 10rem;
    width: 10rem;
    background-size: contain;
    object-fit: contain;
    background-repeat: no-repeat;
}

#rock{
    background-image: url(Images/rock_image.png);
}

#paper{
    background-image: url(Images/paper_final.png);
}

#scissor{
    background-image: url(Images/scissor.png);
}

h1{
    text-align: center;
    margin-top: 5rem;
}

.container button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.container button:hover{
    opacity: 0.37;
}

.text{
    display: flex;
    gap: 5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.text p{
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
}

.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#reset-btn{
    height: 2rem;
    padding: 0.5rem 1rem;
    background-color: crimson;
    border: none;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

#reset-btn:hover{
    opacity: 0.37;
}

/* .msg-box{
    height: 3rem;
    font-size: 1.3rem;
} */

.msg{
    text-align: center;
    font-size: 1.4rem;
}